
@font-face {
	font-family: titleSketch;
	src: url("../resources/fonts/Sketch\ Book.ttf");
}

@font-face {
	font-family: smallSketch;
	src: url("../resources/fonts/Serif\ Sketch.ttf");
}


body
{
	background-color: #ddeeee;
	background-image: url("../resources/paper.jpg");
	background-position: center;
	height: 900px;
	/*background-repeat: no-repeat;*/
	background-size: cover;
}

a
{
	text-decoration: none;
	color: #3d88ae;
}

#title
{
	font-family: titleSketch;
	height: auto;
	width: 500px;
	font-size: 6em;
	line-height: 1em;
	grid-area: title;
}

.menu
{
	margin: 20vh 20% 0 20%;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-areas:
		'. title .'
		'left middle right'
		'. cookie .';
	gap: 30px;
	align-items: center;
}

.menu-object
{
	display: block;
	margin: 2vh auto;
	width: 325px;
	height: 75px;
	font-size: 1.4em;
	font-family: smallSketch;
	text-align: center;
}

#cookie-section
{
	grid-area: cookie;
	margin-top: 65vh;
}

.pracs { grid-area: middle; }
#start { grid-area: left; }
#options { grid-area: middle; }
#exit { grid-area: right; }

p, h1
{
	text-align: center;
	font-family: monospace;
}

button.menu-object
{
	background: url("../resources/button.png") no-repeat 0 0 transparent;
	background-position: center;
	background-size: contain;

	border: none;
	background-color: none;

	cursor: pointer;
}

button.menu-object:active
{
	background: url("../resources/buttonClick.png") no-repeat 0 0 transparent;
	background-position: center;
	background-size: contain;
}

button.menu-object:hover:not(:active)
{
	font-weight: bold;
	background: url("../resources/buttonHover.png") no-repeat 0 0 transparent;
	background-position: center;
	background-size: contain;
}

#game, #game_area
{
	width: auto;
	margin: 3em auto;
	display: flex;
	justify-content: center;
}

canvas
{
	border-style: solid;
	border-width: 10px;
}

#game img
{
	margin-right: 10px;
	width: 200px;
}

